.App {
  text-align: center;
  color: white;
}

.weather-forecast {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
}

.forecast-block {
  border: solid 1px white;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  color: white;
}

.forecast-header {
  border-bottom: solid 1px white;
  padding: 0.2rem;
}

.forecast-content {
  padding: 1rem;
}

.forecast-content > div {
  padding-top: 0.5rem;
}

.forecast-temperature {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
}

.loader {
  width: 100vw;
  text-align: center;
  margin: 100px 0;
  color: white;
}